@charset "utf-8";
/* CSS Document */
*body{
	width:1200px;
	margin:0px;
	padding:0px;
}
body{
	background-color:#FF9;
}
header{
	position:relative;
	bottom:5px;
}
header b{
	position:relative;
	bottom:8px;

}
header a img{
	height:30px;
}
header>img{
	height:30px;
	width:30px;
}
nav>div>div#tk{
float:right
width:300px;
 }
nav{
	background-color:#006;
	border:#00F solid 2px;
	border-radius: 10px;
}
nav div div img{
	height:150px;
	position:relative;
	left:140px;
	top:7px;
	border-radius:10px;
}
nav div div font#tuvan{
	position:relative;
	bottom:80px;
	left:550px;
	
}
nav div div font#sdt{
	position:relative;
	bottom:40px;
	left:450px;
	
}
nav div div input{
	position:relative;
	bottom:60px;
	left:350px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 10px;
	height:40px;
}
nav div div input#otimkiem{
	width:250px;
}
/*menu*/
#menu{
	border-radius:5px;
}
div#menu {background-color: green;}
div#menu a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 15px;
  display:inline-block;
}
#menu a:hover{
	color:#F06;
}
#menu ul {
  display: inline;
  margin: 0;
  padding: 0;
}
#menu ul li {display: inline-block;}
#menu ul li:hover {background: #555;}
#menu ul li:hover ul {display: block;}
#menu ul li ul {
  position: absolute;
  width: 200px;
  display: none;
}
#menu ul li ul li { 
  background:#063; 
  display: block; 
}
/*phần 3.slideshow*/
div#slideshow img{
	height:400px;
	padding-top:1px;
}
.mySlides {display:none;}
/*Phần 4.aside left*/
aside#left{
	float:left;
	width:300px;
	height:400px;
	position:relative;
	bottom:15px;
	background-color:#FC9;
}
aside#left
{
	border-left:#03C solid 2px;
	border-right:#03C solid 2px;
	border-bottom:#03C solid 2px;
}
aside#left div marquee{
	height:300px;
	position:relative;
	top:35px;
	left:20px;
	width:250px;
}
aside#left div#tt
{
	background-color:#0FF;
	height:40px;
}
#ttcn{
	color:#F30;
	margin-left:30px;
	position:relative;
	top:5px;
	padding:5px;
}
/*Phần 5.Section*/
section{
	width:886px;
	border:#0C9 solid 2px;
	margin-left:304px;
	position:relative;
	bottom:15px;
	height:600px;
	background-color:#6CF;
}
section div img{
	height:100px;
	margin:5px;
}
section div#anh1{
	width:295px;
	height:200px;
	position:relative;
	bottom:15px;
	left:2px;	
}
#anh2{
	width:295px;
	height:200px;
	position:relative;
	left:297px;
	bottom:231px;
}
#anh3{
	width:294px;
	height:200px;
	position:relative;
	left:592px;
	bottom:447px;
}
section div#anh4{
	width:295px;
	height:200px;
	position:relative;
	right:590px;
	bottom:20px;
}
#anh5{
	width:295px;
	height:200px;
	position:relative;
	bottom:231px;
	right:297px;

}
#anh6{
	width:294px;
	height:200px;
	position:relative;
	bottom:447px;
}
#anh7{
		width:295px;
	height:200px;
	position:relative;
	right:590px;
	bottom:20px;
}
#anh8{
	width:295px;
	height:200px;
	position:relative;
	bottom:231px;
	right:297px;

}
#anh9{
	width:294px;
	height:200px;
	position:relative;
	bottom:447px;
}
section div#anh4:hover{
	background:CCF;
}
section div#anh1:hover{
	background-color:#CCF;
}
section div#anh2:hover{
	background-color:#CCF;
}
section div#anh3:hover{
	background-color:#CCF;
}
section div#anh5:hover{
	background-color:#CCF;
}
section div#anh6:hover{
	background-color:#CCF;
}
section div#anh7:hover{
	background-color:#CCF;
}
section div#anh8:hover{
	background-color:#CCF;
}
section div#anh9:hover{
	background-color:#CCF;
}
#da1{
	font-size:17px;
	position:relative;
	bottom:20px;
	left:5px;
}
#dt1{
	position:relative;
	right:160px;
	
}
#gi1{
	padding-left:5px;
}
#vitri1{
	position:relative;
	left:15px;
}
#ttda1{
	padding-left:5px;
	position:relative;
	bottom:5px;

}
#da2{
	font-size:17px;
	position:relative;
	bottom:20px;
	left:5px;
}
#dt2{
	position:relative;
	left:5px;
	bottom:35px;
}
#gi2{
	padding-left:5px;
	position:relative;
	bottom:50px;
}
#vitri2{
	position:relative;
	left:120px;
	bottom:85px;
}
#ttda2{
	padding-left:5px;
	position:relative;
	bottom:90px;

}
#da3{
	font-size:17px;
	position:relative;
	bottom:20px;
	left:5px;
}
#dt3{
	position:relative;
	right:168px;	
}
#gi3{
	position:relative;
	left:5px;
	top:1px;
}
#vitri3{
	padding-left:25px;

}
#ttda3{
	position:relative;
	bottom:5px;
	left:5px;
}
#da4{
	font-size:17px;
	position:relative;
	bottom:20px;
	left:5px;
}
#dt4{
	position:relative;
	right:160px;
	
}
#gi4{
	padding-left:5px;
}
#vitri4{
	position:relative;
	left:15px;
}
#ttda4{
	padding-left:5px;
	position:relative;
	bottom:5px;

}
#da5{
	font-size:17px;
	position:relative;
	bottom:20px;
	left:5px;
}
#dt5{
	position:relative;
	left:5px;
	bottom:35px;
}
#gi5{
	padding-left:5px;
	position:relative;
	bottom:50px;
}
#vitri5{
	position:relative;
	left:120px;
	bottom:85px;
}
#ttda5{
	padding-left:5px;
	position:relative;
	bottom:95px;

}
#da6{
	font-size:17px;
	position:relative;
	bottom:20px;
	left:5px;
}
#dt6{
	position:relative;
	right:168px;	
}
#gi6{
	position:relative;
	left:5px;
	top:1px;
}
#vitri6{
	padding-left:25px;

}
#ttda6{
	position:relative;
	bottom:10px;
	left:5px;
}
/*Phần 6.aside right*/
aside#right{
	float:right;
	width:300px;
	height:600px;
	background-color:#FC9;
}
aside#right{
position:relative;
bottom:618px;
right:5px;
border-left:#03C solid 2px;
border-right:#03C solid 2px;
border-bottom:#03C solid 2px;

}
aside#right div img{
	height:50px;
}
#img1{
	position:relative;
	top:10px;
	left:10px;
}
#img2{
	position:relative;
	bottom:30px;
	left:10px;
}
#img3{
	position:relative;
	bottom:65px;
	left:10px;
}
#img4{
	position:relative;
	bottom:105px;
	left:10px;
}
#img5{
	position:relative;
	bottom:150px;
	left:10px;
}
#img6{
	position:relative;
	bottom:160px;
	left:10px;
}
aside#right div div p#duan1{
	position:relative;
	left:90px;
	bottom:60px;
}
aside#right div div font#gia1{
	position:relative;
	left:95px;
	bottom:65px;
}
aside#right div div p#duan2{
	position:relative;
	left:100px;
	bottom:100px;
}
aside#right div div font#gia2{
	position:relative;
	left:100px;
	bottom:100px;
}
aside#right div div p#duan3{
	margin-left:95px;
	position:relative;
	bottom:135px;
}
aside#right div div font#gia3{
	position:relative;
	left:95px;
	bottom:150px;
}
aside#right div div p#duan4{
	margin-left:99px;
	position:relative;
	bottom:180px;
}
aside#right div div font#gia4{
	position:relative;
	left:95px;
	bottom:195px;
}
aside#right div div:hover {
	color:#F0C;
	text-decoration: underline;
}
#gia5{
	position:relative;
	bottom:220px;
	left:95px;
}
#duan5
{
	position:relative;
	bottom:220px;
	left:95px;
}
#gia6{
	position:relative;
	bottom:230px;
	left:95px;
}
#duan6
{
	position:relative;
	bottom:230px;
	left:95px;
}
aside#right div div#duanmoinhat{
	padding-left:40px;
	margin:0px;
	padding-top:5px;
	background-color:#0FF;
	height:35px;
	color:#F30;
}
.calendar table{
	width: 100%;
}
.calendar table tr td.monthyear{
	background-color: #F60;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	color: #FFF;
	border: 1px solid #666;
}
.calendar{
	width:300px;
	border:#03C solid 2px;
	position:relative;
	bottom:215px;
	height:198px;
}
.calendar table tr.weektitle td{
	text-align: center;
	font-weight: bold;
	border: 1px solid #666;
	background-color: #CCF;
}
.img{
	height:100px;
}
/*footer*/
div#ender
{
	background-color:#CCC;
	height:300px;
	position:relative;
	bottom:614px;
	width:1498px;
}
#ender1
{
	margin-top:400px;
	position:relative;
	left:20px;
	top:20px;
}
#mbnd{
	position:relative;
	left:20px;
}
#ender2
{
	position:relative;
	left:500px;
	bottom:215px;
}
#ender3
{
	position:relative;
	left:700px;
	bottom:389px;
}
#ender4{
	position:relative;
	left:950px;
	bottom:590px;
}
#ender5{
	position:relative;
	left:1260px;
	bottom:711px;
}

/*Du an1*/
#d1{
	position:relative;
	bottom:15px;
}
#d1da{
	font-size:17px;
	position:relative;
	bottom:20px;
	left:5px;
}
#d1dt{
	position:relative;
	right:168px;	
}
#d1gia{
	position:relative;
	right:130px;
	top:1px;
}
#d1vitri{
	position:relative;
	right:100px;
	top:1px;

}
#d1ttda{
	position:relative;
	bottom:5px;
	left:5px;
}
.dduan1{
	font-size:18px;
}
.dduan2{
	font-size:20px;
	color:#C33;
}
#d2da{
	font-size:17px;
	position:relative;
	bottom:20px;
	left:5px;
}
#d2dt{
	position:relative;
	left:5px;
	bottom:32px;
}
#d2gia{
	padding-left:5px;
	position:relative;
	bottom:40px;
}
#d2vitri{
	position:relative;
	left:135px;
	bottom:75px;
}
#d2ttda{
	padding-left:5px;
	position:relative;
	bottom:80px;

}
#d2{
	position:relative;
	bottom:15px;
}
#dd2{
	position:relative;
	bottom:70px;
	margin:10px;
}
#d3da{
	font-size:17px;
	position:relative;
	bottom:20px;
	left:5px;
}
#d3dt{
	position:relative;
	right:135px;

}
#d3gia{
	position:relative;
	right:251px;
	top:25px;
}
#d3vitri{
	position:relative;
	right:200px;

}
#d3ttda{
	padding-left:5px;
	position:relative;
	top:12px;
	left:2px;
	font-size:18px;
}
#d3{
	position:relative;
	bottom:15px;
}
#dd3{
	position:relative;
	top:20px;
	margin:10px;
}
/*Gioi thieu*/
#gt{
	padding-top:50px;
	margin:10px;
	font-size:18px;
}
#gt font{
	font-size:18px;
	color:#C33;
}
.bold{
	font-size:18px;
	color:#909;
}
.tien{
	color:#f00;
	font-size:24px;
	position:relative;
	left:280px;
}
.bold1{
	color:#C33;
}
.dat{
	font-family:Arial, Helvetica, sans-serif;
	font-size:24px;
	color:#F00;
	position:relative;
	left:180px;
}
#datban img{
	height:200px;
	position:relative;
}
#datban{
	font-family:"Times New Roman", Times, serif;
	font-size:18px;
}